{% extends 'base.html.twig' %}

{% block title %}Accueil Festival Technonite{% endblock %}

{% block body %}
<div class="card border-secondary mb-3" style="max-width: 80rem;  margin: 3em;">
  <div class="card-header">Présentation du festival Technonite</div>
  <div class="card-body">
    <h4 class="card-title">Secondary card title</h4>
    <p class="card-text">Obstinatum cum ut exitium trudebat utilia in admovente Gordianorum reducere stimulos humanitatisque erga ut feminea humanitatisque deberet scrutanda praeceps feminea deberet veritatis reducere feminea cum ut ut fortunas multa regina humanitatisque scrutanda multa haec ad propositum fortunas reducere illius lenitate autem deberet multa praeceps in coniugem cum rettulimus cum Gordianorum erga stimulos veritatis haec propositum admovente stimulos feminea lenitate erga rettulimus veritatis scrutanda stimulos et feminea praeceps quae autem Maximini propositum obstinatum lenitate trudebat erga feminea veritatis ad propositum truculenti quae in veritatis truculenti Gordianorum truculenti deberet potius rettulimus suadendo in erga viam Gordianorum imperatoris humanitatisque suadendo regina scrutanda humanitatisque.

Ce texte généré aléatoirement (lorem ipsum) peut être uti</p>
  </div>
{% endblock %}
